{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    TODO: Dashboard
    1. Add some statistics last day, last week, last month, last year.
    2. Maybe check domain TXT records to make sure its cloudflare?
{% endblock page_content %}
