<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Temp Fast Mail{% endblock %}</title>
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% include 'navbar.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
    </body>
</html>
