<footer class="footer has-background-dark">
    <div class="container">
        <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center
                is-flex-direction-row-tablet is-justify-content-space-between-tablet">

            <div class="has-text-weight-bold has-text-white mb-3 mb-0-tablet">
                Temporary Fast Mail
            </div>

            <nav aria-label="Footer Navigation" class="mb-3 mb-0-tablet">
                <ul class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center
                   is-justify-content-flex-start-tablet">
                    <li class="mx-2"><a class="has-text-white" href="/">Home</a></li>
                    <li class="is-hidden-mobile has-text-white">•</li>
                    <li class="mx-2"><a class="has-text-white" target="_blank" href="https://github.com/kasteckis/tempfastmail">Open Source (GitHub)</a></li>
{#                    <li class="is-hidden-mobile has-text-white">•</li>#}
{#                    <li class="mx-2"><a class="has-text-white" href="/contact">Contact</a></li>#}
                    {% if app.user %}
                        <li class="is-hidden-mobile has-text-white">•</li>
                        <li class="mx-2"><a class="has-text-white" href="/account">Account</a></li>
                    {% endif %}
                </ul>
            </nav>

            <a href='https://ko-fi.com/B0B81RZTWV' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi6.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

            <div class="has-text-centered has-text-right-tablet">
                <small class="has-text-white">{{ 'now'|date('Y') }} © Temporary Fast Mail. All Rights Reserved.</small>
            </div>
        </div>
    </div>
</footer>
